<div>
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" class="login-form">
    <div class="flex-row">
      <label>Login</label>
      <input class="lf--input" type="text" [(ngModel)]="login" name="login" required />
    </div>
    <div class="flex-row">
      <label class="lf--label">Senha</label>
      <input class="lf--input" type="password" [(ngModel)]="senha" name="senha" required />
    </div>
    <div *ngIf="erro">{{ erro }}</div>
    <button class="lf--submit" type="submit">Entrar</button>
    <a class="lf-forgot" routerLink="/cadastro">Não tenho login</a>
  </form>
</div>
